
@font-face {
	font-family: titlefont ;
	src: url(../fonts/Baskerville.ttc);
}

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
    border: white;
	

}
.headingfont{
font-weight: lighter;
font-size: larger;
font-family: 'titlefont';
color: #9BAAA5;

}
.wrapper {
	width: 960px;
	background: #fff;
	padding: 0 45px 20px;
margin: 0 auto;
	
}


.bord{
	border: 5px solid #9BACA6;

}


.headcol {
 
color: #6E7D7D;
}
.pcol{
	color: #505668
}
#heading{
	font-family: titlefont; 
}

.bord2 {
	border: 5px solid #CCCDCC;

  }
  

  .bord2:hover {
	transition-duration: 1s;
	transition: ease-in-out;
	border: 5px solid #66706C;
	